extends ./layout/index
block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros ", class="img-fluid") 
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nostrum porro consectetur voluptatum sed rerum delectus nam maiores mollitia illo quaerat ipsum neque repudiandae numquam qui! Dolorem dolor deleniti quam similique hic fuga, nam voluptates.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iure commodi dolor in esse et aliquid necessitatibus praesentium eligendi, totam vel sapiente quaerat. Ab accusantium dolore quae voluptatum, eaque eveniet!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste mollitia corrupti praesentium labore iusto sint eos facere eveniet? Aliquid, deleniti!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, perspiciatis beatae. Odit quae commodi id perspiciatis culpa quasi consequuntur aliquid distinctio blanditiis. Quam, vero sequi.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, perspiciatis beatae. Odit quae commodi id perspiciatis culpa quasi consequuntur aliquid distinctio blanditiis. Quam, vero sequi.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, perspiciatis beatae. Odit quae commodi id perspiciatis culpa quasi consequuntur aliquid distinctio blanditiis. Quam, vero sequi.